.NavBar {
    display: flex;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: orange;
  }
  
  .Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Categorias {
    
    text-decoration: none;
    border-radius: 25;
    margin: 0 20px;
    
    width: auto;
    padding: 5px;
    font-size: 1.5rem;
    
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(33, 56, 82);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

  .Categorias:hover {
    
    color:  rgb(0, 110, 255);
    border: rgb(240, 156, 0) double 0.35rem;
    background-color: rgb(255, 215, 82);
  }

  .CategoriaSeleccionada {
    
    
    text-decoration: none;
    border-radius: 25;
    margin: 0 20px;
    
    width: auto;
    padding: 5px;
    font-size: 1.5rem;
    background-color: rgb(255, 215, 82);
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(33, 56, 82);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }


  
.WebName { 
  color: rgb(33, 56, 82);
  text-decoration: none;
}

.WebName:hover {
  color:  rgb(0, 110, 255);
  
}
