.BotonConfirmar {
    border-radius: 25;
    margin: 5px 10px;
    background: orange;
    border-radius: 8px;
    flex: none;
    width: auto;
       
    text-decoration: none;
    color:  rgb(33, 56, 82);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

  .BotonConfirmar:hover {
      background-color:rgb(21, 255, 0);
      color:white;
  }

  
  .ButtonQuitar {
    border-radius: 25;
    margin: 5px 10px;
    background: orange;
    border-radius: 8px;
    flex: none;
    width: auto;
       
    text-decoration: none;
    color:  rgb(33, 56, 82);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

  .ButtonQuitar:hover {
      background-color:rgb(255, 0, 0);
      color:white;
  }
