.Cart {
    color: orange;
   
}

.EmptyCart { 
    color: orange;
}

.Home {
   
    
        text-decoration: none;
        border-radius: 25;
        margin: auto;
        
        width: 10rem;
        padding: 10px;
        font-size: 15px;
        
        border-radius: 8px;
        flex: none;
        display: flex;
        order: 1;
        align-self: center;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: orange;
        border: none;
        border-style: none;
        cursor: pointer;
        outline: inherit;

    
      
    
}

.H2 {color: orange;}

.Home:hover {
    background-color:orange;
    color: white;
}

.OrdenGenerada{ 
    color: orange;
}

.ButtonCerrar {
    text-decoration: none;
    border-radius: 25;
    margin: 0 20px;
    margin-top: 10px;
    width: auto;
    padding: 12px;
    font-size: 15px;
    background: orange;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

  .ButtonCerrar:hover {
      background-color:rgb(255, 0, 0);
      color:white;
  }
  
.BotonVaciar {
    border-radius: 25;
    margin: 5px 10px;
    background: orange;
    border-radius: 8px;
    flex: none;
    width: auto;
       
    text-decoration: none;
    color:  rgb(33, 56, 82);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

  .BotonVaciar:hover {
      background-color:rgb(255, 0, 0);
      color:white;
  }

.Entrada { background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    margin: 8px;
    color:orange}
    
.Entrada:hover {
        background-color: orange;
        color:white;
    }


@media only screen and (max-width:768px) { 
       
    
  .ItemsCart {
        
             display: block;
           
         }
        
  .CardItem{ 
      width: 40%;
  }
   
  .ItemImg {width: 40%;}
    
}
  

  

@media only screen and (max-width:768px) { 
    
    .ItemsCart {
        
        display: block;
      
        }
   
    .CardItem{ 
        width: 50%;
        }

    .ItemImg {width: 50%;}
      
}
    
    
    
    
    
    
    
    
@media only screen and (min-width:768px) {
      
        .ItemsCart {
        
            margin-top: 1rem;
        display:grid;
        gap:1rem;
        grid-template-columns:repeat(3, 1fr);
          
        }
       
        .CardItem{ 
            width: 70%;
        }
        
        .ItemImg {width: 70%;}
            
     
 }
    
    
    
    
    
    
    
    
@media only screen and (min-width:1024px) {
    
       
        .CardItem{ 
            width: 80%;
        }
        
        .ItemImg {width: 70%;}
                          
     
}  
    
    
    
    
@media only screen and (min-width:1400px) {
    
    
     
    .ItemsCart {

        margin-top: 1rem;
        display:grid;
        gap:1rem;
        grid-template-columns:repeat(3, 1fr);
    
    }
       
    
} 
    