.CartWidget {
        
        color:orange;
        width: auto;
        padding: 12px;
        background-color: rgb(33, 56, 82);
        border-radius: 100%;



}

.CartWidget:hover {
    background-color: white;
    color: rgb(33, 56, 82);
}

.CartImg {

    width: 20px;
    margin-right: 10px;



}